/*Autor: JuanSBonora & JuanCMuñoz*/
/*Proyecto Integrador*/

/*#############################*/
/*########### LOGIN ###########*/
/*#############################*/
.containerlogin {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.containerlogin .rowlogin {
    margin: 0 auto;
}
.card {
    /*max-width: 50%;*/
    width: 18rem;
    border: 1px /*solid #17141d*/;
    /*background-color: #17141d;*/
    border-radius: 5px;
    padding: 10px;
}
.title {
    color: white;
    font-weight: 300;
}
titlewhite{
    color:white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

/*###################################*/
/*############# NAVBAR ##############*/
/*###################################*/

.btn-floating {
    background: url(../images/icon/menu-icon.png) no-repeat;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 30px 30px;
}

.side-nav{
    top:0;
    margin:0;
    height: calc(100% + 60px);
    background-color: #fff ;
    overflow-y: auto;
    will-change: transform;
}

.row {
    margin-bottom: 0px;
}

.collection {
    border: 0px solid #e0e0e0;
}
.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle {
    width: 72px;
    height: 42px;
    padding: 0px;
}
.circle {
    border-radius: 0%;
}

@media(max-width: 1024px){
    .containerlogin{
        max-width:100%;
    }
    .side-nav{
        display: none;
    }
    .collection .collection-item.avatar {
        padding-left: 70px;
    }
}
@media(min-width: 800px){
    .containerlogin {
        max-width: 100%;
    }
    .container{
        max-width: 60%;
    }
    .side-nav{
        max-width:20%;
        display: block;
    }
    .container2 {
        width: 95%;
        margin: -700px 30px 75px;
    }
    .collection .collection-item.avatar {
        min-height: 50px;
        padding-left: 40px;
        max-width: 90%;
    }
}

/*###################################*/
/*########### DEFAULT CSS ###########*/
/*###################################*/

    /* Hide/rearrange for smaller screens 
    @media screen and (max-width: 767px) {
    Hide captions 
    .carousel-caption {
        display: none;
    }
}*/
